body {
    background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #202f34;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
  }

  .list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .email-column {
    width: 600px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
